REACT_APP_FIREBASE_APIKEY = ""
REACT_APP_FIREBASE_AUTH_DOMAIN = ""
REACT_APP_FIREBASE_DATA_BASEURL = ""
REACT_APP_FIREBASE_PROJECTID = ""
REACT_APP_FIREBASE_STORAGEBUCKET = ""
REACT_APP_FIREBASE_MESSAGINGSENDERID = ""
REACT_APP_FIREBASE_APPID = ""
REACT_APP_FIREBASE_MEASUREMENTID = ""
NFT_STORAGE_TOKEN = "
