.footerContainer{
  background-color: #1768B6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.topBox{
  height: 7em;
  display: flex;
  background-color: #2181E2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
}

.topContainer span{
  font-weight: 600;
}
.topContainer .sponser{
  margin-right: 15px;
  height: 1.5em;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainContainer{
  width: 70%;
  /* background-color: aquamarine; */
}
.middleContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  letter-spacing: 1px;
  /* background-color: #2c2c2c; */
  margin: 40px 0;
}
.bottomContainer{
  border-top: 1px solid rgba(255,255,255,0.5);
  height: 5em;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #fff;
}
.bottomContainer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}
.bottomContainer ul li{
  margin-right:  10px;
}

.signUpContainer {
  margin: 20px 0 ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.sns {
  margin-top: 30px;
  width: 70%;
}

.snsContainer{
  background-color:#2181E2 ;
  margin-right: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 10px;
}